body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

.calculator{
background:white;
width:300px;
margin:50px auto;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 15px;
margin:5px;
cursor:pointer;
background:#4CAF50;
color:white;
border:none;
border-radius:5px;
}

button:hover{
background:#45a049;
}

#history{
text-align:left;
margin-top:15px;
}
